.glow-input {
  padding: 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  width: 260px;
  background: #f1f1f1;
  transition: box-shadow 0.3s, border 0.3s;
  outline: none;
}
.glow-input:hover,
.glow-input:focus {
  border: 2px solid #9c27b0;
  box-shadow: 0 0 12px #c158dc88;
}