.btn-expand {
  padding: 12px 24px;
  background: white;
  color: #e91e63;
  border: 2px solid transparent;
  font-size: 16px;
  position: relative;
  border-radius: 10px;
  transition: 0.3s;
}
.btn-expand:hover {
  border-color: #e91e63;
  background: #ffe3ed;
}